* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    border: 2px solid blue;
}

body {
    padding: 10px 15px 0px 15px;
}

header,
main,
footer,
p {
    border: 1px solid black;
}

html,
body {
    height: 100%;
    width: 100%;
}

header,
main {
    width: 100%;
    padding: 20px;
}

header {
    height: 10%;
}

main {
    height: 80%;
    margin-top: 5%;
}

p {
    margin-top: 10%;
    padding: 10px;
}