* {
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  color: white;
}

.body__fundo::after {
  content: "";
  opacity: 0.5;
}

.body__fundo {
  /*background-color: #F33259 ;*/
  font-family: Roboto;
  background: url("../img/fundo.jpg");
  max-width: 100%;
  max-height: 100%;
  background-repeat: no-repeat;
  /*background-attachment: fixed;*/
  background-position: center;
  /*background-image: url(img.jpg) ;*/
  background-size: cover;
  /*opacity: 1;*/
  background-color: rgba(243, 50, 89, 0.8);
}

.header__tamanho {
  padding: 2% 0 2% 2%;
  height: 8%;
}

.menu {
  padding: 5% 5% 3% 5%;
  width: 100%;
  font-family: 'Fredoka One', cursive;
  color: white;
}

.menu i {
  float: left;
}

.div_logo__nome {
  font-family: 'Comfortaa', cursive;
  text-decoration: none;
  color: white;
}

.menu a {
  text-decoration: none;
  color: white;
}

.menu #sign {
  float: right;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.3em;
  padding-top: 2%;
}

.main_tamanho {
  margin-left: 2%;
  height: 80%;
}

.div_logo {
  text-align: center;
  height: 25%;
  font-size: 5em;
  padding-top: 20%;
}

#foto {
  border-radius: 50%;
  border: 1px solid white;
  background-color: #dddddd;
  max-width: 100%;
  max-height: 100%;
}

.form_tamanho {
  padding-top: 30%;
  height: 70%;
  margin-left: 2%;
}

.a_link_personalizado {
  color: #ffffff;
  text-decoration: none;
}

.footer__centralizado {
  text-align: center;
  margin-bottom: 2%;
}

.main_tamanho_tela2 {
  height: 90%;
}

.form_tamanho_tela2 {
  padding-left: 20px;
  height: 70%;
}

.div__fundo {
  width: 100%;
  height: 100%;
  background-color: rgba(243, 50, 89, 0.8);
}

.divisao__input {
  width: 100%;
  color: white;
  padding-top: 10%;
}

.divisao__input label {
  display: inline-block;
  width: 5%;
  float: left;
  padding-top: 8px;
}

.divisao__input input {
  width: 92%;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  padding-bottom: 5px;
  margin-left: 3%;
}

input::-webkit-input-placeholder {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3em;
  font-weight: 200;
}

.formulario__form input {
  padding-top: 2%;
}

.button {
  width: 200px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid #ff0066;
  background-color: #ff0066;
  color: white;
  font-size: 1.2em;
}

.button__div {
  padding-top: 10%;
  margin-top: 20px;
  text-align: center;
}

.footer__centralizado a {
  font-weight: bold;
}